@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --outerBackground: #1B1D1F;
  --innerBackground: #282B30;
  --primary: #4E80EE;
  --secondary: #6C727F;
  --textColor: #D2D5DA;
}

html {
  font-family: var(--font-vietnam), sans-serif;
}

body {
  color: var(--textColor);
  background: var(--outerBackground);
  font-family: var(--font-vietnam), sans-serif;
}